[Unit]
Description=LXDE cheatcodes in live media
ConditionPathExists=/usr/share/c-blues-lxde-livesettings/
After=c-blues-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/c-blues-lxde-livesettings/lxde-cheatcodes start

[Install]
WantedBy=graphical.target
