Source: 2021-03-lxde-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/extra/settings-lxde
Vcs-Git: https://git.siduction.org/extra/settings-lxde.git
Homepage: https://git.siduction.org/extra/settings-lxde

Package: 2021-03-lxde-settings
Architecture: all
Depends: ${misc:Depends},
         lxde-common,
         2021-03-lxde-artwork,
         2021-03-sddm-settings
	 | 2021-03-lightdm-gtk-settings
	 | 2021-03-gdm3-settings,
         2021-03-common-settings
Description: LXDE settings in installed mode
 Provides default settings for appearance and applications of the LXDE
 desktop.
 .
 This overrides LXDE's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: 2021-03-lxde-livesettings
Architecture: all
Depends: ${misc:Depends},
         lxpanel,
         lxterminal,
         siduction-icons,
         openbox | x-window-manager,
         2021-03-lxde-artwork,
         2021-03-lxde-settings,
         2021-03-common-livesettings,
         2021-03-sddm-livesettings
         | 2021-03-ligthdm-gtk-livesettings
         | 2021-03-gdm3-livesettings
Description: LXDE settings in live mode
 Provides default settings for appearance and applications of the LXDE
 desktop in live mode.
