[Unit]
Description=LXDE cheatcodes in live media
ConditionPathExists=/usr/share/farewell-lxde-livesettings/
After=farewell-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/farewell-lxde-livesettings/lxde-cheatcodes start

[Install]
WantedBy=graphical.target
